 [report]
exclude_lines =
    if __name__ == .__main__.:
omit = code\test_anki.py, code\test_extract_sizes.py, code\test_google_search.py, code\test_gpt_prompting.py, code\test_integration.py, code\test_openai.py, code\test_user_cli.py, code\test_wordprocessing.py