<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Auto-Anki</title>
</head>
<body style="background-color: #ebeceb; font-family: 'Robota', sans-serif;">
    <h1>Auto-Anki</h1>
    <img src="{{ url_for('static', filename='Auto_Anki_Logo.jpg') }}" alt="Auto-Anki Logo" style="width: 200px; height: 200px;"><br><br>
    <p>Select a PDF file on your computer:</p>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file"><br><br>
        <label for="source">Choose an API source:</label>
        <select name="source" id="source">
            <option value="Google" selected>Google</option>
            <option value="GPT">GPT</option>
        </select><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>

